In [1]:
# Exercise 1
my_name="Jana"
print(my_name)

Jana

In [2]:
# Exercise 2
age=30
print(age)

30

In [4]:
# Exercise 3
julia_age=32
age_diff=age-julia_age
print(age_diff)

-2

In [5]:
# Exercise 4
if age>21:
    print("You are older than 21")
else:
    print("You are not older than 21")

You are older than 21

In [7]:
# Exercise 5
if age>julia_age:
    print("Julia is younger than you")
elif age<julia_age:
    print("Julia is older than you")
else:
    print("You have the same age as Julia ")

Julia is older than you

In [19]:
# Exercise 6
class_members=['Ursula', 'Sandra','Monika','Mirna','Jana','Ottavia','Killian']
class_members.sort()
print(class_members[0])
print(class_members[6])
for members in class_members:
    print(members)

Jana
Ursula
Jana
Killian
Mirna
Monika
Ottavia
Sandra
Ursula

In [32]:
# Exercise 6  v 2.0
class_members=['Ursula', 'Sandra','Monika','Mirna','Jana','Ottavia','Killian']
for members in class_members:
    
    print(members)

Ursula
Sandra
Monika
Mirna
Jana
Ottavia
Killian

In [21]:
# Exercise 7 CHECK AGE!!!!
class_members_age=[40,25,30,26,30,28,30]
for ages in class_members_age:
    if ages %2==0:
        print(ages)

40
30
26
30
28
30

In [28]:
# Exercise 7 CHECK AGE!!!! WHILE LOOP
class_members_age=[40,25,30,26,30,28,30]
i = 0
while i <= len(class_members_age)-1:
    if class_members_age[i] % 2 == 0:
        print(class_members_age[i])
    i= i+1

40
30
26
30
28
30

In [26]:
class_members_age=[40,25,30,26,30,28,30]
Leng= len(class_members_age)
print(Leng)

7

In [7]:
# Exercise 8

numbers=[43,12,7,4,90,345,21,745,69,73,8]
print(min(numbers))

4

In [8]:
# Exercise 9

numbers=[43,12,7,4,90,345,21,745,69,73,8]
print(max(numbers))

745

In [30]:
# Exercise 10
customers_list=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
i=0
while i<=len(customers_list)-1:
    print(customers_list[i])
    i=i+1

1999
1995
2005
2010
2007
2006
1994
1996
1979
2008

In [6]:
# Exercise 11
from unicodedata import name


customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
i=0
while i<=len(customer_list)-1:
    print(customer_list[i]["name"],2022-customer_list[i]["age"])
    i=i+1

Bob 23
Jack 27
Lisa 17
Maria 12
Ben 15
Emma 16
Oscar 28
Amy 26
Paul 43
Etta 14

In [22]:
# Exercise 11 Part 2


customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

i=0
while i<=len(customer_list)-1:
    print(customer_list[i]["name"]," is", 2022-customer_list[i]["age"],"years old")
    i=i+1

Bob  is 23 years old
Jack  is 27 years old
Lisa  is 17 years old
Maria  is 12 years old
Ben  is 15 years old
Emma  is 16 years old
Oscar  is 28 years old
Amy  is 26 years old
Paul  is 43 years old
Etta  is 14 years old

In [14]:
# Exercise 12 ( remove the youngest and the oldest person.)

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
def oldest(ages):
    max_item=ages[0]
    for num in ages:
        if num > max_item:
            max_item=num
    return max_item
def youngest(ages):
    min_item=ages[0]
    for num in ages:
        if num < min_item:
            min_item=num
    return min_item     

ages.remove(oldest(ages))
ages.remove(youngest(ages))

print (ages)
#max_item=
#ages.remove(min_item,max_item)

[20, 24, 14, 12, 13, 25, 23, 11]

In [125]:
# Exercise 12 v2
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.sort()
print(ages[1:-1])

[11, 12, 13, 14, 20, 23, 24, 25]

In [82]:
# Exercise 12 v3


ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(min(ages))
ages.remove(max(ages))
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [137]:
# Exercise 13 V1 (The task is to create an other list with the common ages.) NESTED LOOPS

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
new_list=[]

#outer loop
for j in munich:
    #inner loop
    for g in berlin:
        if g==j:
            new_list.append(j)
print(new_list)

[13, 15, 19, 18, 10, 16]

In [123]:
# Exercise 13 V2

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
set_berlin=set(berlin)
set_munich=set(munich)
result=print(set_berlin.intersection(set_munich))

{10, 13, 15, 16, 18, 19}

In [145]:
# Exercise 14 Remove the duplicates.
ages=[15,13,16,18,19,15,10]
for j in ages:
    i=0
    while i<=len(ages)-1:
        if j==ages[i]:
            ages.remove(j)
            break
    print(ages)
    break

[13, 16, 18, 19, 15, 10]

In [20]:
# Exercise 15
def welcome(n):
    print("Welcome "+n+",have a nice day!")
    return
welcome("Jost")
welcome("Evelyn")

Welcome Jost,have a nice day!
Welcome Evelyn,have a nice day!

In [23]:
# Exercise 16
def get_length(n):
    print(len(n))
    return
get_length("Hello")
get_length("Hi")

5
2

In [25]:
# Exercise 17
def check_even(x):
    if x%2==0:
        print("yes")
    else:
        print("no")
    return
check_even(19)
check_even(10)

no
yes

In [4]:
#Exercise 18 (11)
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
def customer_name(list_n):
    i=0
    while i<=len(customer_list)-1:
        customer_list[i]["age"]=2022-customer_list[i]["age"]
        print(customer_list[i]["name"]," is", customer_list[i]["age"],"years old")
        i=i+1
customer_name(customer_list)

Bob  is 23 years old
Jack  is 27 years old
Lisa  is 17 years old
Maria  is 12 years old
Ben  is 15 years old
Emma  is 16 years old
Oscar  is 28 years old
Amy  is 26 years old
Paul  is 43 years old
Etta  is 14 years old

In [30]:
#Exercise 18 (12)
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
def oldest(ages):
    max_item=ages[0]
    for num in ages:
        if num > max_item:
            max_item=num
    return max_item
def youngest(ages):
    min_item=ages[0]
    for num in ages:
        if num < min_item:
            min_item=num
    return min_item     

ages.remove(oldest(ages))
ages.remove(youngest(ages))

print (ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [40]:
#Exercise 18 (13 The task is to create an other list with the common ages.) V1 NESTED LOOPS [13, 15, 19, 18, 10, 16]

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
new_list=[]

def special_list(list_1,list_2,list_3):
    #outer loop
    for j in list_1:
        #inner loop
        for g in list_2:
            if g==j:
                list_3.append(j)
    print(list_3) 
    return
    

special_list(berlin,munich,new_list)

[15, 13, 16, 18, 19, 10]

In [122]:
#Exercise 18 13 V2 #.intersection , set   common list =[conditions of intersections]

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
def new_list(list_1,list_2):
    set_1=set(list_1)
    set_2=set(list_2)
    print(set_1.intersection(set_2))
    return
new_list(berlin,munich)

{10, 13, 15, 16, 18, 19}

In [39]:
#Exercise 18 (14 Remove the duplicates)
ages=[15,13,16,18,19,15,10]
def remove_dupl(list_n):
    for j in ages:
        i=0
        while i<=len(ages)-1:
            if j==ages[i]:
                ages.remove(j)
                print(ages)
            break

remove_dupl(ages)

[13, 16, 18, 19, 15, 10]

In [112]:
# Exercise 19 v1
ages=[15, 13, 16, 18, 19, 10, 12]
def find(list_n,value_n):
    i=0
    while i<=len(list_n)-1:
        if value_n==list_n[i]:
            print("True")
        else:
            print("False")
        i=i+1

    

find(ages,12)

False
False
False
False
False
False
True

In [1]:
# Exercise 19 v2
ages=[15, 13, 16, 18, 19, 10, 12]
def find(list_n,value_n):
    if value_n in list_n:
        print("TRUE")
    else:print("FALSE")

find(ages,130)
find(ages,18)
find(ages,45)

FALSE
TRUE
FALSE